.list {
  margin-left: 0;
  padding-left: 25px;
}

.bar {
  height: 0.75rem;
  width: 100%;
  background: var(--mint-7);
}

h1 {
  font-size: 15px;
  padding: 0;
}

div.main-container {
  width: 100%;
}

main {
  width: 100%;
  padding-inline: 1rem;
}
