@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-tomato {
    color: #d13415;
    color: color(display-p3 0.755 0.259 0.152);
  }

  .bg-tomato {
    background-color: #d13415;
    background-color: color(display-p3 0.755 0.259 0.152);
  }

  .text-strong {
    color: #202020;
    color: color(display-p3 0.125 0.125 0.125);
  }

  .text-normal {
    color: #646464;
    color: color(display-p3 0.392 0.392 0.392);
  }

  .text-light {
    color: #8d8d8d;
    color: color(display-p3 0.553 0.553 0.553);
  }
}
